<template>
    <viModal
    :id="props.id"
    :header="true"
    :title="'Tambah Item'"
    size="sm"
    z-index="z-40"
    >
        <div class="text-sm">
            <form @submit.prevent="addItem()">
                <div>
                    <label> Nama Item </label>
                    <input type="text" placeholder="Masukan Nama Item" v-model="form.name" class="input input-bordered w-full mt-2" />
                </div>

                <div class="flex justify-end mt-8">
                    <button type="submit" class="btn btn-primary">Tambahkan</button>
                </div>

            </form>
        </div>
    </viModal>
  </template>
  
<script setup>
import { defineProps, defineEmits, reactive, inject } from 'vue'
import { closeModal } from '@/helpers/modal'
import viModal from '@/components/vi/vi-modal.vue'
import swal from '@/helpers/swal';
  
const axios = inject('axios')
const emit = defineEmits(['added'])

const props = defineProps({
    id: {
        type: String,
        default: ''
    }
})

const form = reactive({
    name: ''
})
  
async function addItem() {
    try {
        await axios.post('/checklist', {
            name: form.name
        })
        swal.alert({
            icon: 'success',
            title: 'Tambah Item Berhasil'
        })

        emit('added')

        closeModal(props.id)
    } catch (error) {
        swal.alert({
            icon: 'error',
            title: 'Tambah Item Gagal'
        })
        console.log(error)
    }
}
</script>