<template>
    <viModal
    :id="props.id"
    :header="true"
    :title="'Detail Item'"
    size="sm"
    z-index="z-40"
    >
        <div class="text-sm">
           <div class="flex gap-4 border p-4 rounded">
                <label>Nama Item</label>
                <div class="font-bold"> {{ items.name }}</div>
           </div>
           <div class="flex justify-between items-center">
               <div class="font-medium mt-8">
                    Sub Item
               </div>
               <div class="mt-4 flex justify-end">
                    <button class="btn btn-primary btn-xs" @click="openModalAddSubItem(items.id)"><i class="bi bi-plus-circle"/> Tambah Sub Item</button>
               </div>
           </div>
           <div v-if="items.items?.length" class="mt-4">
                <template v-for="(subItem, index) in items.items" :key="subItem">
                    <div class="grid grid-cols-12 border p-4 rounded">
                        <div class="col-span-6">
                            <div class="flex gap-4">
                                <div>
                                    {{ index + 1 }}.
                                </div>
                                <div class="font-bold">
                                    {{ subItem.name }}
                                </div>
                                <div v-if="subItem.itemCompletionStatus">
                                    <i class="bi bi-check-circle-fill text-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="col-span-6">
                            <div class="flex justify-end gap-4">
                                <div v-if="!subItem.itemCompletionStatus" class="btn btn-primary btn-xs text-white" @click="verifiedSubItem(subItem.id)">
                                    <i class="bi bi-check" /> Verifikasi Lolos QC
                                </div>
                                <div class="btn btn-warning btn-xs text-white" @click="openModalUpdateSubItem(items.id, subItem)">
                                    <i class="bi bi-pencil" /> Ubah
                                </div>
                                <div class="btn btn-error btn-xs text-white" @click="deleteSubItem(subItem.id)">
                                    <i class="bi bi-trash" /> Hapus
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
           </div>
           <div v-else>
                <div class="text-zinc-400 mt-4 border p-4 rounded">
                    Tidak Mempunyai Sub Item
                </div>
            </div>
        </div>
    </viModal>
  </template>
  
<script setup>
import { defineProps, defineEmits, inject } from 'vue'
import { closeModal } from '@/helpers/modal'
import viModal from '@/components/vi/vi-modal.vue'
import swal from '@/helpers/swal';
  
const axios = inject('axios')
const emit = defineEmits(['ended', 'open-update', 'open-add'])

const props = defineProps({
    id: {
        type: String,
        default: ''
    },
    items: {
        type: Object,
        default: () => {}
    }
})
  
async function deleteSubItem(id) {
    const { isConfirmed } = await swal.confirm({
        title: 'Apakah Anda Yakin?',
        text: 'Sub Item ini akan dihapus'
    })

    if (isConfirmed) {
        try {
            await axios.delete(`/checklist/${props.items.id}/item/${id}`)
            swal.alert({
                icon: 'success',
                title: 'Hapus Sub Item Berhasil'
            })
            emit('ended')
            closeModal(props.id)
        } catch (error) {
            swal.alert({
                icon: 'error',
                title: 'Hapus Sub Item Gagal'
            })
        }
    }
}

async function verifiedSubItem(subItemId) {
    const { isConfirmed } = await swal.confirm({
        title: 'Apakah Anda Yakin?',
        text: 'Sub Item lolos quality check'
    })

    if (isConfirmed) {
        try {
            await axios.put(`/checklist/${props.items.id}/item/${subItemId}`)
            swal.alert({
                icon: 'success',
                title: 'Sub Item Berhasil Lolos QC'
            })
            emit('ended')
            closeModal(props.id)
        } catch (error) {
            swal.alert({
                icon: 'error',
                title: 'Sub Item Gagalx` Lolos QC'
            })
        }
    }
}

function openModalUpdateSubItem (itemId, subItem) {
    emit('open-update', {
        itemId,
        subItem
    })
    closeModal(props.id)
}

function openModalAddSubItem (itemId) {
    emit('open-add', itemId)
    closeModal(props.id)
}
</script>