<template>
    <input
      :id="id"
      type="checkbox"
      class="modal-toggle"
    >
    <div
      class="modal bg-zinc-700 bg-opacity-80 items-start overflow-scroll pt-10 px-2 scrollbar-none"
      :class="[
        {'!pt-0 lg:!pt-10 !px-0': size === 'mobile-full'},
        {'!pt-0 !px-0': size === 'absolute-full'},
        {'!z-[99999999999999999999]': uppest === true},
        zIndex
      ]"
      @click.self="close()"
    >
      <div
        class="modal-box max-w-none"
        :class="[
          {'w-[250px]': size === 'xxs' || sizeLg === 'xxs'},
          {'lg:w-3/12 w-full': size === '2xs' || sizeLg === '2xs'},
          {'lg:w-2/6 w-full': size === 'xs' || sizeLg === 'xs'},
          {'lg:w-3/6 w-full': size === 'sm' || sizeLg === 'sm'},
          {'lg:w-4/6 w-full': size === 'md' || sizeLg === 'md'},
          {'lg:w-5/6 w-full': size === 'lg' || sizeLg === 'lg'},
          {'!max-h-full lg:!max-h-max !h-full lg:!h-max !rounded-none lg:!rounded-lg': size === 'mobile-full'},
          {'!max-h-full !w-full !h-full !rounded-none': size === 'absolute-full' || sizeLg === 'absolute-full'},
          {'w-auto': size === 'auto' || sizeLg === 'auto'},
          {'flex justify-center': center},
          {'bg-transparent shadow-none': transparentBg},
          {'p-0':removePadding},
          {'scrollbar-custom hover:scrollbar-thumb-zinc-300': !overflow},
          {'!overflow-y-visible !overflow-x-visible': overflow},
          sizeRounded,
        ]"
      >
        <div
          v-if="header"
          class="flex justify-between border-b pb-2 items-center mb-5"
        >
          <div class="font-bold text-zinc-500">
            {{ title }}
          </div>
          <template v-if="!preventClose">
            <label
              :for="id"
              class="btn btn-ghost btn-square btn-sm"
            >
              <i class="bi bi-x-lg" />
            </label>
          </template>
        </div>
        <slot />
      </div>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      id: {
        type: String,
        default: '',
        required: true
      },
      size: {
        type: String,
        default: 'md'
      },
      sizeLg: {
        type: String,
        default: '2xs'
      },
      title: {
        type: String,
        default: ''
      },
      header: {
        type: Boolean,
        default: true
      },
      removePadding: {
        type: Boolean,
        default: false
      },
      outsideClick: {
        type: Boolean,
        default: true
      },
      preventClose: {
        type: Boolean,
        default: false
      },
      rounded: {
        type: String,
        default: 'xl'
      },
      transparentBg: {
        type: Boolean,
        default: false
      },
      center: {
        type: Boolean,
        default: false
      },
      zIndex: {
        type: String,
        default: ''
      },
      uppest: {
        type: Boolean,
        default: false
      },
      overflow: {
        type: Boolean,
        default: false
      }
    },
    emits: ['open', 'close'],
    computed: {
      sizeRounded () {
        return `rounded-${this.rounded}`
      }
    },
    mounted () {
      document.getElementById(this.id).addEventListener('change', () => {
        const checked = document.getElementById(this.id).checked
        if (checked) {
          this.$emit('open')
        } else {
          this.$emit('close')
        }
      })
    },
    methods: {
      close () {
        if (this.outsideClick) {
          document.getElementById(this.id).click()
        }
      }
    }
  }
  </script>
  