<template>
    <div class="py-10 px-16">
        <div class="text-center text-2xl font-bold">
            Manage Barang
        </div>
        <div class="mt-4 bg-white w-full rounded p-4">
            <div class="flex justify-end">
                <div class="btn btn-primary btn-sm" @click="openModalAddItem">
                    <i class="bi bi-plus-circle"></i> Tambah Barang
                </div>
            </div>
            <div class="grid grid-cols-6 gap-y-4 mt-10">
                <template v-for="(item, index) in items" :key="item">
                    <div class="col-span-4 ">
                        <div class="!flex gap-8">
                            <div>
                                {{ index + 1 }}
                            </div>
                            <div>
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-span-2 flex justify-end gap-4">
                        <div class="btn btn-secondary btn-xs text-white" @click="openModalDetail(item)">
                            <i class="bi bi-info-circle"/> Detail
                        </div>
                        <div class="btn btn-error btn-xs text-white" @click="deleteItem(item.id)">
                            <i class="bi bi-trash"/> Hapus
                        </div>
                    </div>
                </template>
            </div>
           
        </div>
    </div>
    <teleport to="body">
        <modal-add-item id="modal-add-item" @added="getItems()" />
        <modal-add-sub-item id="modal-add-sub-item" :item-id="selectedItemId" @added="getItems()" />
        <modal-update-sub-item id="modal-update-sub-item" :item-id="selectedItemId" :sub-item="selectedItems" @ended="getItems()" />
        <modal-detail-item id="modal-detail-item" :items="selectedItems" @open-add="openModalAddSubItem" @open-update="openModalUpdateSubItem" @ended="getItems()" />
    </teleport>
</template>

<script setup>
import { onMounted, inject, ref } from 'vue';
import { openModal } from '@/helpers/modal'
import swal from '@/helpers/swal'
import modalAddItem from '@/components/modal/modal-add-item.vue'
import modalAddSubItem from '@/components/modal/modal-add-sub-item.vue'
import modalUpdateSubItem from '@/components/modal/modal-update-sub-item.vue'
import modalDetailItem from '@/components/modal/modal-detail-item.vue'

const axios = inject('axios')

const items = ref([])

const selectedItemId = ref('')
const selectedItems = ref({})

onMounted(() => {
    getItems()
})

async function getItems() {
    resetSelected()
    try {
        const { data } = await axios.get('/checklist')
        items.value = data.data
    } catch (error) {
        console.log(error)
    }
}

function resetSelected () {
    selectedItemId.value = ''
    selectedItems.value = {}
}

function openModalAddItem () {
    openModal('modal-add-item')
}

async function deleteItem (id) {
    const { isConfirmed } = await swal.confirm({
        title: 'Apakah Anda Yakin?',
        text: 'Item ini akan dihapus'
    })

    if (isConfirmed) {
        try {
            await axios.delete(`/checklist/${id}`)
            swal.alert({
                icon: 'success',
                title: 'Berhasil Dihapus'
            })
            getItems()
        } catch (error) {
            swal.alert({
                icon: 'error',
                title: 'Gagal Dihapus'
            })
        }
    }
}

async function openModalDetail (item) {
   selectedItems.value = item
   openModal('modal-detail-item')
}

function openModalAddSubItem (id) {
    selectedItemId.value = id
    openModal('modal-add-sub-item')
}

function openModalUpdateSubItem ({itemId, subItem}) {
    console.log(itemId)
    selectedItemId.value = itemId
    selectedItems.value = subItem
    openModal('modal-update-sub-item')
}
</script>