<template>
    <div class="w-screen h-screen bg-no-repeat bg-cover bg-[url('https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]">
        <div class="w-full h-full flex justify-center items-center lg:px-0 px-10">
            <div class="card w-96 h-96 bg-base-100 bg-opacity-80">
                <div class="card-body rounded-xl">
                    <div class="flex justify-center font-bold">
                        Register Page
                    </div>
                    <div>
                    </div>
                    <form @submit.prevent="handleRegister">
                        <div class="w-full mt-2">
                            <p>Email</p>
                            <input type="email" placeholder="Masukan Email" v-model="form.email" class="input w-full" />
                        </div>
                        <div class="w-full mt-2">
                            <p>Username</p>
                            <input type="text" placeholder="Masukan Username" v-model="form.username" class="input w-full" />
                        </div>
                        <div class="w-full mt-2">
                            <p>Kata Sandi</p>
                            <input type="password" placeholder="Masukan Kata Sandi" v-model="form.password" class="input w-full" />
                        </div>
                        <div class="card-actions justify-end mt-2">
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                    </form>
                    <div class="flex justify-center gap-2 mt-6 text-white">
                        Sudah Mempunyai Akun? <router-link to="/login" class="underline cursor-pointer">Login</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { inject, reactive } from 'vue';
import { useRouter } from 'vue-router';
import swal from '@/helpers/swal';

const axios = inject('axios')
const router = useRouter()

const form = reactive({
  email: '',
  username: '',
  password: ''
})

async function handleRegister () {
  try {
    await axios.post('register', {
      username: form.username,
      password: form.password,
      email: form.email
    })

    swal.alert({
        icon: 'success',
        title: 'Daftar Berhasil'
    })

    router.push('/login')
  } catch (error) {
    const textError = error?.response?.data?.errorMessage
    swal.alert({
        icon: 'error',
        title: textError,
    })
  }
}
</script>
