<template>
    <div class="w-screen h-screen bg-no-repeat bg-cover bg-[url('https://images.pexels.com/photos/4483610/pexels-photo-4483610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]">
        <div class="w-full h-full flex justify-center items-center lg:px-0 px-10">
            <div class="card w-96 h-96 bg-base-100 bg-opacity-80">
            <div class="card-body rounded-xl">
                <div class="flex justify-center font-bold">
                    Login Page
                </div>
                <div>
                </div>
                <form @submit.prevent="handleLogin">
                    <div class="w-full mt-2">
                        <p>Username</p>
                        <input type="text" placeholder="Masukan Username" v-model="form.username" class="input w-full" />
                    </div>
                    <div class="w-full mt-2">
                        <p>Kata Sandi</p>
                        <input type="password" placeholder="Masukan Kata Sandi" v-model="form.password" class="input w-full" />
                    </div>
                    <div class="card-actions justify-between mt-2">
                        <router-link to="/register" class="btn btn-warning">Register</router-link>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</template>

<script setup>
import { inject, reactive } from 'vue';
import { useAuthStore } from '@/stores/auth';
import { useRouter } from 'vue-router';
import swal from '@/helpers/swal';
import TokenHelper from '@/helpers/token'

const axios = inject('axios')
const authStore = useAuthStore()
const router = useRouter()

const form = reactive({
  username: '',
  password: ''
})
async function handleLogin () {
  try {
    const { data } = await axios.post('/login', {
      username: form.username,
      password: form.password
    })
    console.log(data)
    const { token } = data.data
    storeAuth({ token })
    swal.alert({
        icon: 'success',
        title: 'Login Berhasil'
    })
    router.push('/user/dashboard')
  } catch (error) {
    const textError = error?.response?.data?.message
    swal.alert({
        icon: 'error',
        title: textError
    })
  }
}

function storeAuth (auth) {
  TokenHelper.setAuth(auth)
  authStore.setAuth(auth)
}
</script>
