<template>
    <div>
        <div class="pt-28 text-center">
            Manage Data
        </div>
        <div class="flex justify-center mt-32 gap-28">
            <router-link to="/register" class="btn btn-warning btn-sm">
                Register
            </router-link>
            <router-link to="/login" class="btn btn-primary btn-sm">
                Login
            </router-link>
        </div>
    </div>
</template>